.edit .input{
    background-color: rgb(34, 43, 54);
    margin: 40px 40px 40px 0;
    border-radius: 16px;
    padding-bottom: 30px;
    
}
.edit .HederCustomer .button{
    display: none;
}
.edit .input__top{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px;
}
.edit .top__colum{
    color: #fff;
    width: 50%;
    padding: 10px 5px;
  
}
.edit input{
    letter-spacing: inherit;
    color: currentcolor;
    border: 1px solid rgb(145, 158, 171);;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px 10px;
    display: block;
    min-width: 0px;
    width: 90%;
    animation-duration: 10ms;
    padding: 13.5px 14px;
    border-radius: 16px;
    outline: none;
}
.edit input ::placeholder{
    color: #fff;
}
.edit .input__bot{
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
}
.edit .input__bot .bot__item{
    width: 50%;
}
.edit .input__bot h6{
    margin: 0px 0px 0.35em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    color: rgb(255, 255, 255);
}
.edit .input__bot p{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgb(145, 158, 171);
}
.edit .check{
    width: 16px;
    margin: 10px 0;
}
.edit .input__bot .bot__input{
    display: inline-flex;
    align-items: center;
    outline: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
    background-color: rgb(104, 142, 255);
}
.edit a{
    color: rgb(255, 255, 255);
}