.HederCustomer{
    color: white;
    padding-top: 64px;
}
.HederCustomer h3{
    color: white;
    font-size: 1.4993rem;
}
.HederCustomer .header__center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HederCustomer .left__list{
    display: flex;
    align-items: center;
}
.HederCustomer a{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.HederCustomer span{
    padding-right: 10px;
}
.HederCustomer .a{
    color: rgb(145, 158, 171);
}
.HederCustomer span{
   
}
.HederCustomer .customer__right{
    padding-right: 24px;
}
.HederCustomer .button{
    display: flex;
    border: 1px solid rgb(104, 142, 255);
    padding: 6px 16px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 16px;
    background-color: rgb(104, 142, 255);
}