.invoi .call__center{
    padding: 12px 0;
    display: flex;
    border-bottom: 1px solid rgba(145, 158, 171, 0.24);
    .item__call1{
        width: 25%;
    }
    .item__call2{
        width: 20%;
        
    }
    .item__call3{
        width: 30%;
    }
    .item__call4{
        width: 20%;
    }
    .item__call5{
        width: 10%;
    }
    .item__call6{
        width: 10%;
    }
    .item__call7{
        width: 10%;
    }
}