.SearchCustomer .search__top{
    display: flex;
    align-items: center;
}
.SearchCustomer{
    padding: 25px 5px;
}
.SearchCustomer .search__top{
    width: 75%;
}
.SearchCustomer .input{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 16px;
    padding-left: 14px;
    border: 1.5px solid white;
    
}
.SearchCustomer .in{
    border: none;
    outline: none;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px 16.5px 0px;
}
.SearchCustomer .input span{
    margin-right: 8px;
    color: #fff;
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
}
.SearchCustomer .combobox{
    border: .5px solid white;
    border-radius: 16px;
    margin: 0 20px;
    padding: 10px 5px;
}
.SearchCustomer select{
    background: none;
    color: #fff;
    border: none;
    outline: none;
}
option{
    background: #222B36;
}
.SearchCustomer .search__bot{
    padding-top: 30px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: .5px solid rgb(145, 158, 171);
}
.SearchCustomer .bot__center{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.SearchCustomer .check{
    width: 10%;
}
.SearchCustomer .name{
    width: 25%;
}
.SearchCustomer .location{
    width: 25%;
}
.SearchCustomer .order{
    width: 10%;
}
.SearchCustomer .spent{
    width: 20%;
}
.SearchCustomer .action{
    width: 10%;
}

